@model Application.ViewModels.Vacations.VacantionViewModel

@{
    bool editMode = Model.Id == 0 ? false : true;
    Layout = null;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-7 offset-sm-3">
            <div class="card">
                <div class="card-title bg-dark fw-bold text-light">
                    <div class="text-center">@(editMode ? $"Editando la vaciones {Model.Id}" : "Creando unas vacaciones")</div>
                </div>
                <div class="card-body">

                    <form asp-controller="Vacantions" asp-action="@(editMode ? "Update" : "Create")">
                                                
                        <div class="mb-3">
                            <label asp-for="StartingDate" class="form-label">Inicio de la vacaciones</label>
                            <input asp-for="StartingDate" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="EndingDate" class="form-label">Dirección del cliente</label>
                            <input asp-for="EndingDate" class="form-control" />
                        </div>

                        <input type="hidden" asp-for="Id" />

                        <input type="submit" value="@(editMode ? "Editar" : "Guardar")" class="btn btn-primary" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>